<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
{%include "include_header.html" %}
</head>
<body>
<div class="header">
{% include "include_header_menu.html" %}
</div>
<div class="content">
    <div id="container">
        <form class="upload" action="/" method="post" accept-charset="utf-8"  enctype="multipart/form-data">
            <div>
            <label for="file">File Upload to 20mb:</label>
            <input id="file" name="file" type="file" value="">
            </div>
            <div>
            <label for="expiry">Expires in seconds:</label>
            <input id="expiry" name="expiry" type="text">
            </div>
            <div>
            <input id="button" type="submit" value="Upload">
            </div>
        </form>
    </div>
</div>
</body>
</html>